REPO_BASE_PATH="git-repos"
EXPORT_BASE_PATH="assets"
REPO_TARGETS="https://github.com/helxplatform/appstore.git,https://github.com/helxplatform/helx-apps.git"
# For local use, leave empty or unset to disable PVC functionality.
PVC_NAME="artifact-cache-pvc"
NAMESPACE="<namespace>"
# `EXPORT_BASE_PATH` will be used by default if not specified. Only relevant for serving exported resources.
STATIC_RESOURCE_PATH="assets"
LOG_LEVEL=info